/**
 * Customize styles for AntD components
 */

// Layout
.ant-layout {
  overflow: hidden;
}

// Result
.ant-result {
  &.app-result-page {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
  }
}

// Checkbox
.ant-checkbox-inner {
  border-radius: 0;
}

// Change input focus/hover color to $color-link
.ant-input,
.ant-select-selection,
.ant-select-selector,
.ant-input-number,
.ant-input-affix-wrapper {
  &:hover,
  &:focus-within,
  &:focus {
    @include link-border-box-shadow;
  }
}

.ant-input {
  background-color: $color-background;
}

.ant-input-search-button {
  font-size: 2rem;
}

.ant-input-affix-wrapper > input.ant-input {
  box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled):hover,
.ant-select:not(.ant-select-disabled):focus-within,
.ant-select-focused.ant-select-multiple {
  .ant-select-selector {
    @include link-border-box-shadow;
  }
}

.ant-cascader-picker:focus .ant-cascader-input,
.ant-cascader-picker-label:hover + .ant-cascader-input {
  @include link-border-box-shadow;
}

.ant-picker:hover,
.ant-picker-focused {
  @include link-border-box-shadow;
}

.ant-picker-range .ant-picker-active-bar {
  background: $color-secondary;
}

// Pagination
.ant-pagination-options-size-changer.ant-select {
  margin-right: 0;
}

// Menu
.ant-menu {
  transition: $transition-base;
}
//Modal table orders
.orders-table-modal {
  .modal-action {
    text-align: right;
    margin-bottom: 0;
  }
  .button-action {
    margin-bottom: 20px;
  }
}
.popup-table-orders {
  &.ant-popover {
    .ant-popover-inner {
      max-height: 500px;
      overflow-y: scroll;
      max-width: 500px;
      min-width: 380px;
    }
    .ant-picker {
      width: 100%;
    }
    .ant-divider {
      margin: 0 0 10px;
      color: #000;
    }
    .inputContainer {
      margin-bottom: 20px;
    }
  }
}

// Form Item
.ant-form-vertical .ant-form-item-label {
  padding-bottom: 0;
}

// Form Item
.transparent-header thead.ant-table-thead > tr > th {
  background: none;
}

//Badge
.ant-badge-status-dot {
  width: 10px;
  height: 10px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item::after {
  display: none;
}

.ant-menu-horizontal > .ant-menu-item a,
.ant-menu-item a {
  color: $color-text-secondary;
  & > span {
    transition: $transition-base !important;
  }
}
