.app-layout {
  min-height: 100vh;

  .app-header {
    display: flex;
    align-items: center;
    background: $color-light;
    padding: 0 2rem;
    text-align: right;
    user-select: none;
    border-bottom: $border-base;
    height: 8rem;
    line-height: 8rem;

    .app-logo {
      width: 15rem;
      height: auto;
    }

    .app-header-search {
      width: 40rem;
      margin-left: 2rem;
    }

    .ant-menu {
      width: 50%;
    }

    .ant-menu-item {
      color: $color-text-secondary;
      font-size: $font-size-16;
      font-weight: 500;
      background: none;
    }

    .ant-menu-item a {
      display: flex;
      align-items: center;
    }

    .app-icon {
      font-size: 2.4rem;
    }

    .app-user {
      position: relative;
      padding: $align-half 0;
      margin: 0 $align-base;
      cursor: pointer;

      .ant-avatar {
        top: -1px;
      }

      .name {
        margin: 0 10px;
      }

      &.app-header-in-iframe {
        height: 48px;
        line-height: 48px;
        text-align: left;
        .app-user {
          margin: 0 $align-base 0 0;
        }
      }
    }
  }

  .app-content {
    display: flex;
    flex-direction: column;

    .app-breadcrumb {
      padding: 10px $align-base;
      @include typo-caption;
    }

    .app-container {
      display: flex;
      flex-direction: column;
      flex: auto;

      .app-container-head {
        padding: 0 $align-base;
        border-bottom: $border-base;

        .app-title {
          margin-bottom: $align-half;
          margin-top: -3px;
          @include typo-h1;
        }
      }

      .app-container-body {
        flex: auto;
        padding: $align-base;
        background: $color-background;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .app-layout {
    .app-header {
      .app-icon {
        margin: 22px 12px;
      }

      .app-user {
        margin: 0 $align-half;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .app-layout {
    .app-header {
      padding: 0 3px;

      .app-icon {
        margin: 22px 6px;
      }

      .app-user {
        margin: 0 6px;

        .name {
          display: none;
        }

        .anticon {
          margin-left: 5px;
        }
      }
    }
  }
}
